#titlebar {
	background-color: #A1D2E3;
	border-radius: 25px;
	padding: 20px;
	width: 600px;
	height: 120px;
}

#sidebar {
	background-color: #A1D2E3;
	border-radius: 25px;
	padding: 20px;
	width: 600px;
	height: 120px;
}